@{
    ViewData["Title"] = "Home Page";
}


<br />
<br />
<br />
<br />
<table>
    <tr>
        <td>
            <div class="presentation-left">
                <img class="logo floatLeft" src="https://to-do-cdn.microsoft.com/static-assets/c26cd0d92ec61ba2c661adefaa535ab3cc4fb124f347a850fded8034dad5d360/icons/welcome-left.png" alt="" style="width:287px; height:490px;">
            </div>
        </td>
        <td>
            <div class="text-center" role="main" aria-labelledby="headline subheadline">
                <img src="https://to-do-cdn.microsoft.com/static-assets/c87265a87f887380a04cf21925a56539b29364b51ae53e089c3ee2b2180148c6/icons/logo.png" class="image-logo x-hidden-focus" alt="" style="width:96px; height:79px;">
                <h3 class="logoHeader">
                    Welcome to the Simple To-Do App
                </h3>
                <br />
                <br />
                <h5 class="text-muted">
                    Why use a To-Do list?
                </h5>
                <br />

                <h6 class="lead">
                    ✔️ Organization
                </h6>
                <p>
                    <small>
                        - Organizing your tasks with a list can make everything much more manageable and make you feel grounded.
                    </small>
                </p>

                <h6 class="lead">
                    ✔️ Improved Memory
                </h6>
                <p>
                    <small>
                        - To-do lists are a useful external memory aid that give you permission to forget.
                    </small>
                </p>

                <h6 class="lead">
                    ✔️ Productivity
                </h6>
                <p>
                    <small>
                        - One study showed that fifteen minutes spent planning could save an hour of execution time!
                    </small>
                </p>


                <br />
                <a id="actionButton" class="btn btn-lg btn-primary" type="button" href="/Tasks">Get started</a>


            </div>
        </td>
        <td>
            <div class="presentation-right">
                <img class="logo floatRight" src="https://to-do-cdn.microsoft.com/static-assets/f2f56b7d4c72910540effed9ccddae703d8d09b94075dddfeeab6cd79def0c60/icons/welcome-right.png" alt="" style="width:215px; height:515px;">
            </div>
        <td>
    <tr>
</table>