@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<h2>@ViewData["Title"]</h2>
<hr />

<br />
<p>
    Your notes and tasks are been kept in a very special place,
    written on small wooden plates by Santa's elves and kept in a treasury vault underneath the Buckingham palace.
</p>
